body {
	color: #222; font-size: 62.5%; line-height: 1.4;
  	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; 
	
}

.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

.ir { 
	display: block;
	background-color: transparent; background-repeat: no-repeat;  
	border: 0; 
	text-indent: -999em; text-align: left; direction: ltr; *line-height: 0;
	overflow: hidden;
}
.ir br { display: none; }

input[type="button"],
input[type="submit"],
input[type="image"] { cursor: pointer; }

::-webkit-input-placeholder { color: #ddd; font-family: 'arial'; }
::-moz-placeholder { color: #ddd; font-family: 'arial'; }
::-ms-input-placeholder { color: #ddd; font-family: 'arial'; }
.placeholder { color: #ddd!important; font-family: 'arial'!important; }

input[type="text"], 
input[type="email"],
input[type="password"]:-ms-input-placeholder { color: #aaa!important; font-family: 'arial'!important; }

input[type="text"], 
input[type="email"],
input[type="password"]:-moz-placeholder { color: #aaa!important; font-family: 'arial'!important; }


::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

hr {
    display: block;
    height: 1px; margin: 1em 0; padding: 0;
    border: 0; border-top: 1px solid #ccc;
}

img { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; }

.chromeframe {
    margin: 0.2em 0; padding: 0.2em 0;
    background: #ccc;
    color: #000; 
}

/* ============================================= */

.left { float: left; }
.right { float: right; }

.clearfix:before, 
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.clear { height: 0; clear: both; line-height: 0; }

.no--padding { padding: 0; }
.no--margin { margin: 0; }

.display--none { display: none; }

.scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
}

.space { margin: 10px 0; }

p {
	font-size: 1.4em;
  a { 

    &:hover { text-decoration: none; }

  }

  b { }
}